* {
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}


a {
    text-decoration: none;
}



h1 {
    margin-bottom: 43px;

    max-width: 100%;
    margin-top: 53px;
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    color: #272727;


}

img {
    max-width: 100%;
}

.model {
    margin-top: 100px;
}

.container {
    display: flex;
    gap: 30px;
    max-width: 1140px;
    width: 100%;
    margin-inline: auto;
    margin-bottom: 100px;

}

.img_first {

    max-width: 408px;
}

.dsc {

    max-width: 575px;
    margin-inline: auto;
    margin-bottom: 61px;
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    color: #161515;
}

.wrapper {
    background: #F8F8F8;
    display: flex;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.btn_buy {
    cursor: pointer;
    text-align: center;
    border: 3px solid black;
    font-weight: 300;
    font-size: 32px;
    line-height: 29px;
    padding: 26px 74px 35px 73px;
    color: #FFFFFF;
    background-color: black;


}

.prise {
    text-align: center;
    background-color: white;
    border: 3px solid white;
    font-weight: 300;
    font-size: 32px;
    text-align: center;
    color: #272727;
    padding: 26px 74px 35px 73px;
}



.models,
footer {
    margin-inline: auto;
    text-align: center;

}

.models {
    max-width: 532px;
}

.popular {
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    text-align: center;
    color: #000000;
}

h2 {
    margin-top: 0;
    font-weight: 400;
    font-size: 72px;
    line-height: 81px;
    color: #000000;
}

.models img {
    background-color: #F8F8F8;
}

h4 {
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    color: #000000;
}

.models p {
    font-weight: 300;
    font-size: 32px;
    line-height: 50px;
    color: #161515;
    margin-bottom: 59px;

}

h3 {
    display: inline-block;
    position: relative;
    font-weight: 400;
    font-size: 32px;
    line-height: 186%;
    text-align: center;
    text-transform: capitalize;
    color: #161515;
    margin-bottom: 58px;
}

h3::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -9px;
    width: 0;
    height: 1px;
    transition: width .5s;
    background-color: #707070;
}

h3:hover::before{
    transform: translateX(10%);
    width: calc(100% - 40px );
}


footer p {
    max-width: 515px;
    margin-inline: auto;
    text-align: justify;
    font-weight: 300;
    font-size: 24px;
    line-height: 41px;
    color: #161515;
}

.detail {
    text-decoration: none;
    color: #BB8B5D;
}
